@model ML.Usuario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="with=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<div class="container">
    <div class="containers mx-auto">
        <div class="row">
            <div class=" col-4 w-100">
                <a href="@Url.Action("Formulario", "Usuario", new { IdUsuario = 0 })" class="btn btn-success">
                    <i class="fa-solid fa-user-plus"></i> Agregar
                </a>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Datos del usuario</th>
                        <th>Datos de la cuenta</th>
                        <th>Datos de contacto</th>
                        <th>Estatus</th>
                        <th>Imagen</th>
                        <th>Rol</th>
                        <th>Direccion del usuario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Usuario usuario in Model.Usuarios)
                    {
                       <tr>
                           <th>
                                <a href="@Url.Action("Formulario", "Usuario", new { IdUsuario = usuario.IdUsuario })" class="btn btn-warning me-4 mb-2 ">
                                    <i class="fa-solid fa-user-pen"></i> Editar
                                </a>
                                <a href="@Url.Action("Delete", "Usuario", new { IdUsuario = usuario.IdUsuario })" class="btn btn-danger me-4" onclick="return confirm('Deseas borrar al usuario?');">
                                    <i class="fa-solid fa-user-xmark"></i> Eliminar
                                </a>
                           </th>

                            <td>
                                <ul style="list-style:none; margin:0; padding:0;">
                                <li>@usuario.Nombre</li>
                                <li>@usuario.ApellidoPaterno @usuario.ApellidoMaterno</li>
                                <li>@usuario.FechaNacimiento</li>
                                <li>@usuario.Sexo</li>
                                <li>@usuario.CURP</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style:none; margin:0; padding:0;">
                                    <li>@usuario.UserName</li>
                                    <li>@usuario.Password</li>
                                    <li>@usuario.Email</li>
                                </ul>
                            </td>
                            <td>@usuario.Telefono @usuario.Celular</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="toggle" id="@usuario.IdUsuario"
                                           checked="@usuario.Estatus">
                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                </div>
                            </td>
                            <td>
                                @if (@usuario.Imagen == null)
                                {
                                    <img id="imagen" src="~/Content/images.png" class="img-fluid" style="width: 190px; height: auto;" />
                                }
                                else
                                {
                                    <img id="imagen" src='data:image/png;base64,@Convert.ToBase64String(@usuario.Imagen)' class="img-fluid" style="width: 150px; height: auto;" />
                                }
                            </td>
                            <td>@usuario.Rol?.Nombre</td>
                            @if (usuario.Direccion?.Direcciones != null)
                            {
                                <td>
                                    
                                        @foreach (ML.Direccion direccion in usuario.Direccion.Direcciones)
                                        {
                                        <ul style="list-style:none; margin:0; padding:0;">
                                            <li>@direccion.Calle @direccion.NumeroExterior @direccion.NumeroInterior</li>
                                            <li>@direccion.Colonia.CodigoPostal @direccion.Colonia.Nombre</li>
                                            <li>
                                                @direccion.Colonia.Municipio.Nombre
                                                @direccion.Colonia.Municipio.Estado.Nombre
                                            </li>
                                            </ul>
                                        }
                                    
                                </td>
                            }
                            else
                            {
                                <td>
                                    El usuario no tiene ninguna direccion guardada
                                </td>
                            }
                        </tr> 
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>